.chat {
  background: linear-gradient(to right, rgb(179, 121, 40), rgb(189, 22, 36));
  border-radius: 1rem;
  border: 3px solid gray;

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;
  }
}
